*{
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    color: black;
    font-size: 14px;
}
p {
    margin: 44px;
}
.container {
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header__wrapper {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

