@charset "UTF-8";

/* ===== ПОДКЛЮЧЕНИЕ ШРИФТОВ ===== */

@font-face {
	font-display: swap;
	font-family: SS-3;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/SourceSans3-Regular.woff2) format("woff2"), url(../fonts/SourceSans3-Regular.woff) format("woff")
}

@font-face {
	font-display: swap;
	font-family: SS-3;
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/SourceSans3-SemiBold.woff2) format("woff2"), url(../fonts/SourceSans3-SemiBold.woff) format("woff")
}

@font-face {
	font-display: swap;
	font-family: SS-3;
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/SourceSans3-Bold.woff2) format("woff2"), url(../fonts/SourceSans3-Bold.woff) format("woff")
}

/* ===== СТАНДАРТНЫЕ НАСТРОЙКИ И ПЕРЕМЕННЫЕ ===== */

:root {
	--accent: #607ce6;
	--dark: #333;
	--light: #fff;
	--third: #d9d9d9;
	--gray: #888;
	--light-gray: #f5f5f5;
	--font: SS-3, sans-serif;
	--section-offset: 40px;
	--trs: .4s ease; /* Для анимации */
}

*,
:after,
:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: currentColor;
	-webkit-font-feature-settings: "lnum";
	font-feature-settings: "lnum";
	font-variant-numeric: lining-nums;
	list-style-type: none;
	margin: 0;
	outline: 0;
	overflow-anchor: none;
	padding: 0;
	position: relative;
	scroll-behavior: smooth;
	text-decoration: none
}

html {
	block-size: 100%;
	font: normal normal 16px/1.375 var(--font);
	overflow: hidden auto
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	background-color: #fff;
	color: var(--dark, #333);
	max-inline-size: 100vw;
	text-wrap: balance;
	z-index: 1
}

/* ВАЖНО — Мы всегда стилизуем только классы, в редких случаях по тегу. */

.container {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

/* ===== ШАПКА ===== */

/* Немного изменим шапку, сделаем не фиксированную, а прилипучую. В данном макете можно и так сделать.
 Это тебе на будущее, что можно по разному сделать. */

.header {
	background-color: var(--light, #fff);
	left: 0;
	/* position: fixed; */
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 100;
}

.header__line {
	align-items: center;
	display: flex;
	gap: 20px;
}

.header__line--up {
	padding: 35px 0;
}

.header__line--down {
	border-top: 1px solid var(--gray, #888);
	padding: 16px 0;
}

.header__logo {
	--logo-xsize: 180px;
	--logo-ysize: calc(var(--logo-xsize, 0px)/4.736842);
	fill: var(--accent, #607ce6);
	flex-shrink: 0;
	height: var(--logo-ysize, 0px);
	margin-right: auto;
	width: var(--logo-xsize, 0px);
}

.header__contacts,
.header__contacts-label {
	display: block;
}

.header__contacts {
	text-align: right;
}

.header__contacts-label {
	color: var(--dark, #333);
	font-size: 14px;
	line-height: 1.14286; /* Будет 16px в высоту строка. */
}

.header__contacts-text {
	border-bottom: 1px solid currentColor;
	color: var(--accent, #607ce6);
	display: inline-block;
	font-size: 20px;
	line-height: 1.2; /* Будет 24px в высоту строка. */
	transition: border-bottom-color var(--trs);
}

.header__contacts-text:hover {
	border-bottom-color: transparent;
}

.header__nav {
	flex-grow: 1;
}

.header__list {
	display: flex;
	gap: 40px;
}

.header__link {
	display: block;
	padding: 4px 0;
	transition: color var(--trs);
}

.header__link:hover {
	color: var(--accent, #607ce6)
}

.header__button {
	--svg-size: 16px;
	align-items: center;
	background-color: transparent;
	border: none;
	color: var(--accent, #607ce6);
	cursor: pointer;
	display: flex;
	gap: 4px;
	text-transform: uppercase;
	transition: color var(--trs);
}

.header__button:hover {
	color: #000;
}

.header__button-icon {
	display: block;
	fill: var(--accent, #607ce6);
	flex-shrink: 0;
	height: var(--svg-size, 0px);
	width: var(--svg-size, 0px);
}

.header__button-text {
	display: block;
	font: normal normal 16px/1.375 var(--font);
	padding: 4px 0;
}

/* ===== ПЕРВЫЙ БЛОК ===== */
.main {
	padding: calc(var(--section-offset, 0px)*2) 0 var(--section-offset, 0);
}

.main__wrap {
	--main-gap: 32px;
	display: flex;
	flex-wrap: wrap;
	gap: var(--main-gap, 0);
}

/* Расположим заголовок и текст шириной поровну. */
.main__title,
.main__text {
	width: calc(50% - (var(--main-gap, 0px)/2));
}

/* Используем сокращенную запись установки настроек шрифта, почитать можно тут: https://doka.guide/css/font */
.main__title {
	font: bold normal 60px/1.2 var(--font);
}

/* Сровняем его с заголовком, придав ему внутренний верхний отступ. */
.main__text {
	padding-top: 20px;
}

/* Добавим картинке вставленной через тег img свойства: object-fit и object-position, чтобы у нее поведение изменилось как-будто мы фоном её поставили.
 То есть через background-image. И теперь мы можем задавать тегу img размеры который хотим и она не сплющится. */
.main__bg {
	height: 440px;
	object-fit: cover;
	object-position: center;
	width: 100%;
}